# Supabase Configuration
VITE_SUPABASE_URL=https://ycmbvotfmxijznonetpm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_56wQ5Elt7GbQwZ2d2iS-cQ_69QvJYAo

# Jangan commit file .env! Hanya commit .env.example