# Supabase Configuration
VITE_SUPABASE_URL=https://ycmbvotfmxijznonetpm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljbWJ2b3RmbXhpanpub25ldHBtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxNjY0ODcsImV4cCI6MjA5NDc0MjQ4N30.9-eUidsga8wb4eqlxduQ-aM3kozOoYuxf51pGlTe-dA

# Jangan commit file .env! Hanya commit .env.example
